:root
{
    --brand-color: #519cf0;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100; 
    font-size: 1rem;
    --brand-padding: 10px;   
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
.header {
    background-color: black;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
        }

.logo {
    width: 15%;
}
.sublogo {
    width: 100%;    
}

.navegacion {
   width: 15%; 
   display: flex;
   justify-content: flex-end;
}

.menu_hamburguesa {
    width: 35%;
    }

.prueba {
    padding-top: 55px;
    font-size: 35px
}

.footer {
    background: black;
    color: white;
}

.hero {
    background-color: var(--brand-color);
    color: white;
    padding: var(--brand-padding);
}


.box { 
    height: 50%;
    border: solid 3px red;
};

/* #boton {
    background-color: #25B758;
    color: white;
    border: none;
} */


.benefits {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}

.photo_benefit {
    width: 25%;
}
.article_benefit {
    display:inline-flex;
    /* border: solid 3px; */
    margin-inline: auto;
    gap: 5%;
    }

.div_benefit {
    padding-top: 10px;
}
.h2benefit {
   text-align: center;
}